[Unit]
Description=[[DESCRIPTION]]
Requires=[[UNIT_NAME]].service

[Timer]
OnBootSec=1min
AccuracySec=1min
[[TIMER_SPEC]]

[Install]
WantedBy=timers.target

