[Unit]
Description=[[DESCRIPTION]]
After=network-online.target

[Service]
# If we have to wait for the program to finish:
# Type=oneshot
# If the program can immediately be considered active:
# Type=simple
RemainAfterExit=yes
# RuntimeMaxSec=Xmin
ExecStart=[[COMMAND]]

[Install]
WantedBy=default.target
