# Made with systemd_unit_maker
[Unit]
Description=[[DESCRIPTION]]
After=network-online.target

[Service]
Type=oneshot
ExecStart=zsh -c 'source ~/.zshrc && [[COMMAND]]'

[Install]
WantedBy=default.target
