[Unit]
Description=[[DESCRIPTION]]
Requires=[[UNIT_NAME]].service

[Timer]
AccuracySec=1min
[[FREQUENCY]]
[[TIMER_SPEC]]

[Install]
WantedBy=timers.target

