# Made with systemd_unit_maker
[Unit]
Description=[[DESCRIPTION]]
Requires=[[UNIT_NAME]].service

[Timer]
OnBootSec=5min
OnBootSec=[[FREQUENCY]]
AccuracySec=1min

[Install]
WantedBy=timers.target

